// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap");
// Ant Design
@import '../../../node_modules/antd/dist/antd.css';
// Global
@import './shared/styles/global.scss';

body,
#app {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Rubik", sans-serif;
    margin: 0;
    margin-bottom: 0 !important;
    font-weight: bold !important;
}

span,
p,
div,
small {
    font-family: "Karla", sans-serif;
    margin: 0;
    margin-bottom: 0em !important
}


body::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}