$main-backgdound-color: #D8DBE2;
$main-text-color: #1B1B1E;
$main-border-color: #58A4B0;
$secondary-background-color: whiteSmoke;
$secondary-text-color: #1B1B1E;
$header-background-color: #1B1B1E;
$header-text-color: #D8DBE2;
$sideDrawer-background-color: #1B1B1E;
$sideDrawer-text-color: #D8DBE2;
$sideDrawer-background-color-hover: #D8DBE2;
$sideDrawer-text-color-hover: #1B1B1E;
