@import '../../shared/styles/global.scss';

.MainContainer__container {
    height: 100%;
    display: grid;
    grid-template-rows: 6% auto;
}

.MainContainer__componentToShow {
    background-color: $secondary-background-color;
    color: $secondary-text-color;
    display: grid;
    grid-template-columns: 4em calc(100% - 4em);
}
