@import "../../shared/styles/global.scss";

.Header__container {
    display: grid;
    grid-template-columns: 4em calc(100% - 4em);
    background-color: $header-background-color;
    color: $header-text-color;
    border-bottom: 1px solid $main-border-color;
}

.Header__home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.Header__home-button-icon {
    font-size: 1.6em;
}

.Header__right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
}
